@import url("https://fonts.googleapis.com/css?family=Exo:400,700");
@keyframes underline-color-animation {
  0% {
    text-decoration-color: #e61e2a;
  }

  20% {
    text-decoration-color: yellow;
  }

  60% {
    text-decoration-color: green;
  }

  80% {
    text-decoration-color: white;
  }

  100% {
    text-decoration-color: red;
  }
}
@keyframes flip-horizontal-bottom {
  0% {
    transform: rotateX(0);
  }

  50% {
    color: #000054;
    transform: rotateX(-360deg);
  }

  100% {
    color: white;
    transform: rotateX(-360deg);
  }
}

* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-family: "Exo", sans-serif;
  font-size: 0.8125em;
  height: 100%;
  margin: 0;
}
html {
  font-size: 0.8125em;
  height: 100%;
  margin: 0;
}
header,
footer {
  background-color: #000054;
}
footer {
  margin-top: 1em;
}

.flex-col-container {
  display: flex;
  flex-direction: column;
}
.flex-row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.warp-contents {
  flex-wrap: wrap;
}
.nav-link {
  text-align: center;
  text-decoration: none;
  color: white;
}

#top-brand-logo {
  width: 3.5em;
  height: 3.5em;
}
#bookstore-title {
  text-decoration: none;
  font-size: 3.5em;
  color: white;
  -webkit-text-stroke: 0.005em #e61e2a;
}
#bookstore-title:hover {
  animation: flip-horizontal-bottom 4s infinite;
}

#top-nav {
  background-color: #e61e2a;
}
#top-nav a {
  font-size: 2.5em;
  border-style: solid;
  border-color: #000054;
  border-width: 1px;
}
#top-nav a:hover {
  background-color: #aa0082;
}

#footer-nav {
  justify-content: flex-end;
  gap: 1em;
  padding-right: 1em;
}
#footer-nav a:hover {
  text-decoration-style: solid;
  text-decoration-color: white;
  text-decoration-line: underline;
}

#rich-media-container {
  background-color: #000054;
  justify-content: space-around;
  gap: 0.5em;
}
#rich-media-container iframe {
  width: 30em;
  height: 20em;
}
#rich-media-container h1 {
  text-align: center;
  text-decoration: wavy;
  text-decoration-line: underline;
  text-decoration-color: #e61e2a;
  color: white;
  animation: underline-color-animation 10s infinite;
}

#book-categories-container {
  margin-top: 1em;
}
#book-categories-container ul {
  list-style-type: none;
  padding-inline-start: 0px;
  margin: auto;
}
.book-category {
  margin-top: 2em;
  gap: 1em;
  border-style: groove;
  border-radius: 0.1em;
  border-width: 0.5em;
  padding: 0.1em;
}
.book-catergory-name {
  font-size: 2.5em;
  text-align: center;
  background-color: #000054;
  color: white;
  text-decoration: none;
}
.category-books-info {
  gap: 1em;
}
.category-book-info {
  width: 16em;
  height: 16em;
  align-items: center;
  margin: auto;
}
.category-book-info img {
  width: 9em;
  height: 12em;
  border-style: solid;
  border-radius: 1em;
}
.category-book-info a {
  text-align: center;
  font-size: 1.5em;
  text-decoration: none;
}

.contact-us-form-container {
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  margin-top: 1em;
}
#contact-us-form {
  background-color: #000054;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#contact-us-form-title {
  color: white;
  font-size: 2em;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}
#contact-us-form fieldset {
  padding: 1em;
  gap: 1em;
}
#contact-us-form label {
  color: white;
  font-size: 1.5em;
}
#contact-us-form-buttons {
  justify-content: center;
  gap: 1em;
}
#contact-us-form-buttons input {
  font-size: 1.5em;
  padding: 0.3em;
}

.book-detail-section {
  align-items: center;
  justify-content: center;
}
.book-detail-container {
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 0.3em;
}

.book-detail-breadcrumb {
  padding: 0.5em 1.5em;
  list-style: none;
}
.book-detail-breadcrumb li {
  display: inline;
  font-size: 2em;
}
.book-detail-breadcrumb li + li:before {
  padding: 0.1em;
  color: black;
  content: ">\00a0";
}
.book-detail-breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
.book-detail-breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.book-detail-info {
  justify-content: flex-start;
  gap: 1em;
  padding: 1em;
}
.book-detail-display-image {
  width: 25em;
  height: 32em;
  border-style: solid;
  border-width: 0.1em;
}
.book-detail-extra-images-container {
  flex-direction: row;
  gap: 0.5em;
}
.book-detail-extra-images-container img {
  width: 8em;
  height: 10em;
  border-style: solid;
  border-width: 0.1em;
}
.book-detail-purchase-container {
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.book-detail-purchase-container p {
  font-size: 2em;
  font-weight: bold;
}
.book-detail-purchase-container button {
  font-size: 1em;
  border-radius: 0.3em;
  padding: 0.3em;
}
.book-detail-description-container {
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
  padding: 1em;
}
.book-detail-title {
  font-size: 3em;
  font-weight: bold;
}
.book-detail-description {
  font-size: 1.5em;
}

@media screen and (min-width: 600px) {
  #top-nav {
    justify-content: flex-end;
    flex-direction: row;
    gap: 2em;
    padding-right: 2em;
  }

  #top-nav a {
    border-style: none;
  }
  .book-detail-extra-images-container {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1em;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 1.25em;
  }
}
@media screen and (min-width: 1440px) {
  html {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 2560px) {
  html {
    font-size: 2em;
  }
}
