header {
  background-color: #000054;
  display: flex;
  flex-direction: column;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #e61e2a;
  height: 40px;
}

header nav ul {
}
header nav li {
  list-style-type: none;
  display: inline;
  padding: 20px;
}
header nav li a {
  font-size: large;
  text-decoration: none;
  color: white;
}
footer {
}
