@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

select {
  width: 10em;
  height: 1em;
  font-size: 0.5em;
}

img {
  width: 1em;
  height: 1em;
}

iframe {
  width: 40em;
  height: 30em;
}

h1 {
  font-size: 2em;
}

h1.smaller {
  font-size: 1.9375em;
}

h2 {
  font-size: 1.625em;
}

body {
  font-family: "Exo", sans-serif;
  font-size: 0.8125em;
  height: 100%;
  margin: 0;
}

html {
  font-size: 0.8125em;
  height: 100%;
  margin: 0;
}

header,
footer {
  background-color: #000054;
}

footer {
  margin-top: 1em;
}

.top-brand-section {
  display: flex;
  align-items: center;
}

.top-brand-section .brand-logo {
  width: 3.5em;
  height: 3.5em;
}

.rich-media-container {
  background-color: #000054;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

@keyframes underline-color-animation {
  0% {
    text-decoration-color: #e61e2a;
  }

  20% {
    text-decoration-color: yellow;
  }

  60% {
    text-decoration-color: green;
  }

  80% {
    text-decoration-color: white;
  }

  100% {
    text-decoration-color: red;
  }
}

.rich-media-container .video-info-container {
  text-align: center;
  font-size: 2em;
  text-decoration: wavy;
  text-decoration-line: underline;
  text-decoration-color: #e61e2a;
  color: white;
  animation: underline-color-animation 10s infinite;
}

@keyframes flip-horizontal-bottom {
  0% {
    transform: rotateX(0);
  }

  50% {
    color: #000054;
    transform: rotateX(-360deg);
  }

  100% {
    color: white;
    transform: rotateX(-360deg);
  }
}

.top-brand-section .brand-title {
  text-decoration: none;
  font-size: 3.5em;
  color: white;
  -webkit-text-stroke: 0.2px #e61e2a;
}

.top-brand-section .brand-title:hover {
  animation: flip-horizontal-bottom 4s infinite;
}

.top-nav {
  background-color: #e61e2a;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.top-nav a {
  text-align: center;
  font-size: 2.5em;
  text-decoration: none;
  color: white;
  border-style: solid;
  border-color: #000054;
  border-width: 1px;
}

.top-nav a:hover {
  background-color: #aa0082;
}

.footer-nav-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  padding-right: 1em;
}

.footer-nav a {
  font-size: 1em;
  text-decoration: none;
  color: white;
  padding: 0.5em;
}

.footer-nav a:hover {
  text-decoration-style: solid;
  text-decoration-color: white;
  text-decoration-line: underline;
}

.book-categories-container {
  margin-top: 1em;
  display: flex;
}

.book-categories-container ul {
  list-style-type: none;
  padding-inline-start: 0px;
  margin: auto;
}

.book-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2em;
  gap: 1em;
  border-style: groove;
  border-radius: 0.1em;
  border-width: 0.5em;
  padding: 1em;
}

.catergory-name {
  font-size: 2.5em;
  text-align: center;
  background-color: #000054;
  color: white;
}

.book-category a {
  text-decoration: none;
}

.books-info {
  display: flex;
  flex-direction: row;
  gap: 3em;
  flex-wrap: wrap;
}

.book-info {
  padding: 1em;
  border-style: solid;
  width: 16em;
  height: 16em;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.5em;
}

.book-info img {
  width: 10em;
  height: 10em;
  border-style: solid;
  border-radius: 1.5em;
}

.book-info p {
  text-align: center;
  font-size: 1.8em;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

#contact-us-form {
  background-color: #000054;
}

#contact-us-form .form-title {
  color: white;
  font-size: 3em;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}

#contact-us-form .form-field {
  font-size: 2em;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.2em;
}

#contact-us-form label {
  color: white;
  font-size: 2.0em;
}

#contact-purpose {
  width: 20em;
  height: 2.5em;
  font-size: 0.6em;
}

#personal-info-form-field div input {
  width: 20em;
  height: 2em;
}

#form-contact-preference {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

#form-contact-preference div input {
  margin: 0;
  padding: 0;
  width: 1.5em;
  height: 1.5em;
}

#form-weekly-newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

#form-weekly-newsletter div input {
  margin: 0;
  padding: 0;
  width: 1.5em;
  height: 1.5em;
}

@media screen and (min-width: 600px) {
  .top-nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 2em;
    padding-right: 2em;
  }

  .top-nav a {
    border-style: none;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1em;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 1.25em;
  }
}
@media screen and (min-width: 1440px) {
  html {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 2560px) {
  html {
    font-size: 2em;
  }
}
